 select{
    width: 50%;
    padding: 12px;
    margin-top:10px ;
    border-radius: 4px;
}
label {
    padding: 15px 15px 15px 10px;
    display: inline-block;
    font-size: medium;
    
}